{% extends 'base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block body %}
<br>
<h2>Liste des commandes</h2>
<br>
<table class="table">
    <thead>
        <tr>
        <th scope="col">id</th>
        <th scope="col">email</th>
        </tr>
    </thead>
    <tbody>
        {% for command in commands %}
            <tr>
                <th scope="row"><a href="command/{{command.id}}">{{command.id}}</a></th>
                <td>{{command.email}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
